WORKFLOW DESAFIO.json
{
  "name": "DESAFIO",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2864,
        -176
      ],
      "id": "4a570daf-8c96-4f33-9f4a-a26537c00801",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nivel_identificado\": {\n      \"type\": \"integer\",\n      \"enum\": [1, 2, 3, 4, 5],\n      \"description\": \"Número do nível de consciência (1-5)\"\n    },\n    \"name\": {\n      \"type\": \"string\",\n      \"enum\": [\"MOST AWARE\", \"PRODUCT AWARE\", \"PROBLEM AWARE\", \"SOLUTION AWARE\", \"UNAWARE\"],\n      \"description\": \"Nome descritivo do nível de consciência identificado\"\n    },\n    \"confianca\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100,\n      \"description\": \"Nível de confiança da classificação em porcentagem (0-100)\"\n    },\n    \"resumo_justificativa\": {\n      \"type\": \"string\",\n      \"description\": \"Análise resumida: foco principal, especificidade, validação da escolha\"\n    }\n  },\n  \"required\": [\"nivel_identificado\", \"name\", \"confianca\", \"resumo_justificativa\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2736,
        -432
      ],
      "id": "f8abf6d0-4539-4ec8-8a47-b6d95746bae3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -304
      ],
      "id": "f40499b4-3a09-4d42-b998-343d5556469e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1424,
        -368
      ],
      "id": "e328f4d8-b52c-47b0-9a05-238052d123b3",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"title\": \"Análise Completa de Framework de Copywriting - Otimizado\",\n  \"description\": \"Schema para identificação e dissecação detalhada de frameworks de copywriting únicos\",\n  \"properties\": {\n    \"framework_principal\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Problem-Solution\",\n        \"Story-Solution\",\n        \"PASTOR\",\n        \"Hook-Story-Offer\",\n        \"Mechanism-Based\",\n        \"Big-Idea\",\n        \"Pattern-Interrupt\",\n        \"Híbrido\",\n        \"Outro\"\n      ],\n      \"description\": \"Framework de copywriting dominante identificado na lead\"\n    },\n    \"framework_secundario\": {\n      \"type\": [\"string\", \"null\"],\n      \"enum\": [\n        \"Problem-Solution\",\n        \"Story-Solution\",\n        \"PASTOR\",\n        \"Hook-Story-Offer\",\n        \"Mechanism-Based\",\n        \"Big-Idea\",\n        \"Pattern-Interrupt\",\n        null\n      ],\n      \"description\": \"Framework secundário se houver combinação ou abordagem híbrida\"\n    },\n    \"dissecacao_framework\": {\n      \"type\": \"string\",\n      \"format\": \"string\",\n      \"description\": \"Análise estrutural completa em formato markdown seguindo estrutura: identificação do framework → mapeamento detalhado dos elementos → análise crítica da estrutura → recomendações estratégicas\"\n    }\n  },\n  \"required\": [\"framework_principal\", \"framework_secundario\", \"dissecacao_framework\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2224,
        -464
      ],
      "id": "98156f34-5acd-4ea4-bf7c-e339a3699f65",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2224,
        -336
      ],
      "id": "82e43025-4f55-462f-812b-d61805bfab68",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.lead }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# CLASSIFICADOR DE CONSCIÊNCIA - EUGENE SCHWARTZ (VERSÃO ORIGINAL 1966)\n\n## OBJETIVO DO SISTEMA\nClassificar leads de copy usando os 5 Níveis de Consciência de Eugene Schwartz conforme definidos na obra original \"Breakthrough Advertising\" (1966) com **máxima consistência entre todos os modelos LLM**.\n\nSegundo Eugene Schwartz, uma Lead (ou manchete) é o ponto inicial de um anúncio, projetado para capturar a atenção do prospecto e levá-lo a ler o primeiro parágrafo do texto. A Lead não precisa vender diretamente, identificar o produto ou mencionar a necessidade ou desejo que o produto satisfaz. Seu único objetivo é parar o prospecto e compelir sua atenção para continuar lendo o anúncio. Cada frase subsequente tem o mesmo propósito: levar o prospecto a ler a próxima frase, até que ele seja convencido a comprar o produto .\n\nAlém disso, Schwartz destaca que a Lead deve ser construída com base no estado de consciência do mercado-alvo, ou seja, no nível de conhecimento que o público tem sobre o produto e sua capacidade de satisfazer um desejo. A Lead deve ser adaptada para atender a esse estado de consciência, começando com o desejo do mercado e conduzindo-o ao produto. Eugene dizia que o maior erro em copy é falar com o nível errado.\n\n\n---\n\n## PRINCÍPIO FUNDAMENTAL DE SCHWARTZ\n\n### Pergunta Central (Citação Original)\n**\"How much do these people know today about the way my product satisfies their desire? What is their State of Awareness?\"**\n\n### Base da Classificação\nA classificação é determinada EXCLUSIVAMENTE pelo **conhecimento factual que a lead assume que o avatar já possui**, não por técnicas narrativas ou estados emocionais.\n\n---\n\n## OS 5 NÍVEIS DE CONSCIÊNCIA (DEFINIÇÕES ORIGINAIS)\n\n### **NÍVEL 1 - MOST AWARE**\n**Definição Original:** *\"The prospect knows of your product—and wants it.\"*\n**Avatar:** Conhece o produto específico + já deseja comprá-lo + busca melhor oferta\n**Critério de Conhecimento:** Avatar conhece SEU produto específico E quer comprá-lo\n**Indicadores Obrigatórios:**\n- Produto/marca nomeado diretamente\n- Avatar já está convencido da necessidade\n- Foco em facilitar a compra (preço, garantia, urgência)\n- Call-to-action direto para aquisição\n\n**Exemplos:**\n- \"iPhone 15 Pro com 50% OFF - últimas 24h\"\n- \"Detox Slim Pro: compre 2 e leve 3\"\n\n### **NÍVEL 2 - PRODUCT AWARE** \n**Definição Original:** *\"The prospect knows of the product, but doesn't yet want it.\"*\n**Avatar:** Conhece o produto + não está convencido de que precisa dele\n**Critério de Conhecimento:** Avatar conhece SEU produto específico MAS não está convencido\n**Indicadores Obrigatórios:**\n- Produto/solução específica conhecida pelo nome\n- Foco em convencer da necessidade/valor desta solução específica\n- Aborda objeções sobre esta solução específica\n- Prova por que ESTA solução é necessária\n\n**Exemplos:**\n- \"Você conhece o Jejum Intermitente mas ainda tem dúvidas se funciona?\"\n- \"Já ouviu falar da Dieta Keto mas acha muito restritiva?\"\n\n### **NÍVEL 3 - PROBLEM AWARE**\n**Definição Original:** *\"The prospect has a need. He recognizes the need immediately. But he doesn't yet realize the connection between the fulfillment of that need and your product.\"*\n**Avatar:** Reconhece o problema/necessidade + não sabe que existe solução específica\n**Critério de Conhecimento:** Avatar sabe que TEM problema MAS não conhece sua solução específica\n**Indicadores Obrigatórios:**\n- Assume que avatar reconhece ter o problema\n- Foco em estabelecer conexão problema-solução\n- Apresenta sua solução específica como resposta ao problema conhecido\n- Educa sobre como sua solução resolve o problema\n\n**Exemplos:**\n- \"Se você sofre com insônia, descobriu-se que existe uma técnica...\"\n- \"Você que quer emagrecer mas não sabe como, cientistas descobriram...\"\n\n### **NÍVEL 4 - SOLUTION AWARE**\n**Definição Original:** *\"The prospect either knows, or recognizes immediately, that he wants what the product does; but he doesn't yet know that there is a product—your product—that will do it for him.\"*\n**Avatar:** Sabe que quer o resultado + não conhece produto que entrega esse resultado\n**Critério de Conhecimento:** Avatar sabe o RESULTADO que quer MAS não sabe que existe produto para isso\n**Indicadores Obrigatórios:**\n- Assume desejo pelo resultado/benefício\n- Foco em revelar que existe produto para esse resultado\n- Apresenta seu produto como meio de alcançar resultado desejado\n- Educa sobre categorias de solução disponíveis\n\n**Exemplos:**\n- \"Você quer ter músculos definidos? Existem 3 tipos de suplementos...\"\n- \"Sonha em falar inglês fluente? Descobriram 4 métodos diferentes...\"\n\n### **NÍVEL 5 - UNAWARE**\n**Definição Original:** *\"The prospect is either not aware of his desire or his need—or he won't honestly admit it to himself.\"*\n**Avatar:** Não reconhece que tem necessidade/desejo + precisa ser educado\n**Critério de Conhecimento:** Avatar NÃO sabe que tem problema/necessidade\n**Indicadores Obrigatórios:**\n- Educa sobre problema/necessidade que avatar desconhece\n- Foco em criar consciência de necessidade oculta\n- Revela problema não percebido pelo avatar\n- Desperta reconhecimento de necessidade\n\n**Exemplos:**\n- \"Você não sabe, mas algo está sabotando seu metabolismo...\"\n- \"95% das pessoas têm este problema e não sabem...\"\n\n---\n\n## PROTOCOLO DE CLASSIFICAÇÃO (BASEADO EM CONHECIMENTO)\n\n### ETAPA 1: IDENTIFICAR O CONHECIMENTO ASSUMIDO\n**Pergunta Central:** O que a lead ASSUME que o avatar já sabe?\n\n1. **Sobre o produto específico:** Avatar conhece seu produto/marca?\n2. **Sobre o problema:** Avatar reconhece ter este problema/necessidade?\n3. **Sobre soluções:** Avatar sabe que existem soluções para isso?\n4. **Sobre conexão:** Avatar entende como produto resolve problema?\n\n### ETAPA 2: APLICAR CRITÉRIOS DE CONHECIMENTO SEQUENCIALMENTE\n\n```\n1. NÍVEL 1 - CONHECE PRODUTO + QUER COMPRAR\n   ✅ Avatar conhece SEU produto específico?\n   ✅ Avatar já está convencido e quer comprar?\n   → SE AMBOS SIM = NÍVEL 1\n\n2. NÍVEL 2 - CONHECE PRODUTO + NÃO CONVENCIDO\n   ✅ Avatar conhece SEU produto específico?\n   ✅ Avatar não está convencido da necessidade?\n   → SE AMBOS SIM = NÍVEL 2\n\n3. NÍVEL 3 - CONHECE PROBLEMA + NÃO CONHECE SOLUÇÃO\n   ✅ Avatar reconhece ter o problema?\n   ✅ Avatar não sabe que seu produto resolve isso?\n   → SE AMBOS SIM = NÍVEL 3\n\n4. NÍVEL 4 - QUER RESULTADO + NÃO CONHECE PRODUTO\n   ✅ Avatar sabe que quer o resultado/benefício?\n   ✅ Avatar não sabe que existe produto para isso?\n   → SE AMBOS SIM = NÍVEL 4\n\n5. NÍVEL 5 - NÃO RECONHECE NECESSIDADE\n   ✅ Avatar não sabe que tem problema/necessidade?\n   ✅ Lead precisa despertar consciência?\n   → SE AMBOS SIM = NÍVEL 5\n```\n\n---\n\n## DIFERENCIAÇÃO CRÍTICA BASEADA EM CONHECIMENTO\n\n### **NÍVEL 2 vs NÍVEL 3 (Principal Confusão)**\n\n**NÍVEL 2 - Product Aware:**\n- Avatar CONHECE seu produto específico (Jejum Intermitente, Dieta Keto, etc.)\n- Questão: \"Vale a pena fazer este método específico?\"\n\n**NÍVEL 3 - Problem Aware:**\n- Avatar RECONHECE ter problema mas não conhece sua solução\n- Questão: \"Como resolver este problema que tenho?\"\n\n### **NÍVEL 3 vs NÍVEL 4 (Segunda Confusão)**\n\n**NÍVEL 3 - Problem Aware:**\n- Avatar sabe que TEM problema específico\n- Não sabe que existe solução para esse problema\n\n**NÍVEL 4 - Solution Aware:**\n- Avatar sabe que QUER resultado específico\n- Não sabe que existe produto que entrega esse resultado\n\n---\n\n## TEMPLATE DE OUTPUT OBRIGATÓRIO\n\n```json\n{\n  \"nivel_identificado\": [1-5],\n  \"confianca\": [0-100],\n  \"resumo_justificativa\": \"\n**Conhecimento assumido do avatar:** [Descrição do que a lead assume que avatar já sabe]\n\n**Conclusão:** [Síntese baseada nos critérios de conhecimento de Schwartz]\"\n}\n```\n\n\n## INSTRUÇÕES CRÍTICAS PARA CONSISTÊNCIA\n\n### **REGRAS INVIOLÁVEIS (SCHWARTZ ORIGINAL):**\n\n1. **USE APENAS CRITÉRIOS DE CONHECIMENTO** - ignore estados emocionais\n2. **APLIQUE A PERGUNTA CENTRAL** de Schwartz sobre conhecimento do avatar\n3. **ANALISE SEQUENCIALMENTE** todos os 5 níveis mesmo que já identifique um\n4. **BASEIE-SE NO CONHECIMENTO ASSUMIDO** não na técnica da lead\n5. **CITE EVIDÊNCIAS ESPECÍFICAS** do texto que comprovam o conhecimento assumido\n\n### **EM CASO DE DÚVIDA:**\n- Releia a pergunta central: \"What do these people know about my product?\"\n- Foque no CONHECIMENTO, não na emoção\n- Use as definições textuais originais de Schwartz\n- Aplique os critérios mecanicamente baseado em conhecimento factual\n\n### **LEMBRE-SE:**\nEugene Schwartz baseou TUDO em conhecimento factual do prospect, não em técnicas de persuasão ou estados emocionais. A teoria original é sobre **AWARENESS (consciência/conhecimento)**, não sobre sentimentos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2960,
        -592
      ],
      "id": "497b3c48-c34a-4ad7-86b0-44b0bdd60315",
      "name": "NIVEL DE CONSCIENCIA",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=lEAD: {{ $('LEAD AQUI').item.json.lead }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ANÁLISE DE ESTRUTURA DE LEAD E FRAMEWORK\n\n## OBJETIVO\nVocê é um especialista em copywriting direto e análise estrutural de leads de vendas. Sua função é dissecar qualquer lead, identificar sua estrutura, o framework utilizado e fornecer uma análise completa da arquitetura persuasiva.\n\n## DEFINIÇÃO DE LEAD (SEGUNDO EUGENE SCHWARTZ)\n\n### O QUE É UMA LEAD\nA **Lead** é a abertura da copy - os primeiros parágrafos que determinam se o prospect continuará lendo ou abandonará a mensagem. É o elemento mais crítico de qualquer peça de vendas.\n\n### FUNÇÃO ESTRATÉGICA DA LEAD\n**Segundo Eugene Schwartz, a lead deve:**\n1. **Capturar atenção imediata** do prospect certo\n2. **Identificar e amplificar o problema/desejo** do público-alvo\n3. **Estabelecer conexão emocional** através de identificação\n4. **Criar curiosidade** sobre a solução que será revelada\n5. **Construir as primeiras camadas de crença** no que será apresentado\n6. **Filtrar o público** (atrair prospects qualificados, repelir desqualificados)\n\n### CARACTERÍSTICAS DE UMA LEAD EFICAZ\n- **Específica para o nível de consciência** do público (Aware vs Unaware)\n- **Alinhada com o estado de sofisticação** do mercado\n- **Conecta com o desejo de massa** do segmento\n- **Inicia a jornada de transformação** de crença\n- **Promete valor** sem entregar tudo imediatamente\n\n## FRAMEWORKS DE LEAD PARA VSL\n\n### FRAMEWORKS PRINCIPAIS\n- **Problem-Solution** (PAS): Problema → Agitação → Solução\n- **Story-Solution**: Narrativa pessoal + apresentação da solução  \n- **PASTOR**: Problem → Amplification → Story → Transformation → Offer → Response\n- **Hook-Story-Offer**: Gancho + Narrativa + Oferta\n\n### FRAMEWORKS ESPECIALIZADOS\n- **Mechanism-Based**: Foco no \"como funciona\" único\n- **Big-Idea**: Conceito revolucionário como centro\n- **Pattern-Interrupt**: Quebra de padrão para capturar atenção\n\n## METODOLOGIA DE ANÁLISE\n\n### 1. IDENTIFICAÇÃO DA ESTRUTURA\n**Analise a arquitetura da lead:**\n- Qual é o gancho de abertura?\n- Como o problema/desejo é apresentado?\n- Que tipo de amplificação é usado?\n- Como a solução é introduzida?\n- Qual é a ponte para o restante da copy?\n\n### 2. MAPEAMENTO DO FRAMEWORK\n**Para cada elemento identificado:**\n- **Localização**: Trecho específico da lead\n- **Função**: O que esse elemento faz strategicamente\n- **Execução**: Como está sendo implementado\n- **Análise**: Pontos fortes, fracos e observações críticas\n\n### 3. ANÁLISE ESTRUTURAL UNIFICADA\n**Avalie em uma única seção:**\n- **Coerência**: Os elementos se conectam logicamente?\n- **Fluxo**: A progressão é natural e convincente?\n- **Targeting**: Está alinhado com o público correto?\n- **Diferenciação**: Se destaca no mercado?\n- **Completude**: Todos os elementos necessários estão presentes?\n\n## ESTRUTURA DA RESPOSTA EM MARKDOWN\n\n```markdown\n# 🏗️ ANÁLISE ESTRUTURAL DA LEAD\n\n## FRAMEWORK E ARQUITETURA\n\n### Framework Principal: [Nome]\n### Framework Secundário: [Nome ou null]\n### Adequação: [✅ PERFEITA / ⚠️ PARCIAL / ❌ INADEQUADA]\n**Justificativa:** [Explicação detalhada da escolha e adequação]\n\n**📏 Extensão:** [X parágrafos/palavras]\n**🎯 Avatar:** [Descrição do prospect ideal]\n**🎪 Gancho:** [Descrição do hook utilizado]\n\n---\n\n## ELEMENTOS ESTRUTURAIS IDENTIFICADOS\n\n### [NOME DO ELEMENTO 1]\n**📝 Localização:** \"[Citação específica]\"\n**🔧 Função:** [O que faz na arquitetura da lead]\n**⚙️ Execução:** [Como está sendo implementado]\n**💡 Análise:** [Pontos fortes, fracos e observações críticas]\n\n### [NOME DO ELEMENTO 2]\n[Mesmo formato...]\n\n### FLUXO PERSUASIVO\n**Sequência:** [Elemento 1] → [Elemento 2] → [Elemento 3]\n**Avaliação:** [Análise única da lógica, coerência e naturalidade do fluxo]\n\n---\n\n## DIAGNÓSTICO CRÍTICO\n\n### ✅ FORÇAS ESTRUTURAIS\n1. **[Força 1]:** [Descrição concisa e impacto específico]\n2. **[Força 2]:** [Descrição concisa e impacto específico]\n3. **[Força 3]:** [Descrição concisa e impacto específico]\n\n### ⚠️ LACUNAS E RISCOS\n1. **[Lacuna 1]:** [Problema + Impacto + Solução recomendada]\n2. **[Lacuna 2]:** [Problema + Impacto + Solução recomendada]\n3. **[Lacuna 3]:** [Problema + Impacto + Solução recomendada]\n\n### 🎯 ADEQUAÇÃO DE MERCADO\n**Nível de Consciência:** [Unaware/Problem Aware/Solution Aware/Product Aware/Most Aware]\n**Sofisticação do Mercado:** [1-5]\n**Alinhamento:** [Análise única da adequação ao público e momento do mercado]\n\n---\n\n## PLANO DE OTIMIZAÇÃO\n\n### 🔧 MELHORIAS PRIORITÁRIAS\n1. **[Ação 1]:** [Implementação específica e justificativa]\n2. **[Ação 2]:** [Implementação específica e justificativa]\n3. **[Ação 3]:** [Implementação específica e justificativa]\n\n### ⚡ TESTES RECOMENDADOS\n- **Variação A:** [Mudança específica para testar]\n- **Variação B:** [Mudança específica para testar]\n- **Variação C:** [Mudança específica para testar]\n\n---\n\n## VEREDITO FINAL\n\n**NOTA ESTRUTURAL:** X/10\n\n**SÍNTESE ESTRATÉGICA:** [Resumo executivo conciso sobre a qualidade da lead, principais achados e direção recomendada - máximo 3 frases]\n\n---\n\n**FIM DA ANÁLISE**\n```\n\n## DIRETRIZES DE EFICIÊNCIA\n\n### ELIMINAÇÃO DE REDUNDÂNCIAS\n- **UM SISTEMA DE AVALIAÇÃO**: Apenas nota final (sem scorecard detalhado)\n- **UMA ANÁLISE POR ELEMENTO**: Análise integrada em cada seção\n- **UMA CARACTERIZAÇÃO**: Avatar definido apenas na abertura\n- **UMA SEÇÃO DE RECOMENDAÇÕES**: Melhorias prioritárias + testes\n\n### FOCO ANALÍTICO\n- **Estrutura antes de estilo**: Analise a arquitetura, não a criatividade\n- **Framework antes de conteúdo**: Identifique o esqueleto persuasivo\n- **Função antes de forma**: Entenda o que cada parte faz strategicamente\n- **Síntese antes de detalhamento**: Conclusões diretas e acionáveis\n\n### CRITÉRIOS DE QUALIDADE\n**EXCELENTE (9-10):** Framework completo, execução impecável, fluxo natural\n**BOM (7-8):** Framework sólido, pequenas lacunas, boa execução\n**MÉDIO (5-6):** Framework parcial, algumas falhas, execução irregular\n**FRACO (1-4):** Framework confuso, grandes lacunas, execução deficiente\n\n### LINGUAGEM E TOM\n- Use terminologia técnica de copywriting\n- Seja específico e objetivo nas análises\n- Foque em insights acionáveis\n- Mantenha neutralidade analítica\n- Priorize utilidade estratégica\n\n**OBJETIVO**: Análise estrutural completa, sem redundâncias, com foco em insights acionáveis para otimização da lead."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2448,
        -624
      ],
      "id": "5729fe6e-8766-4060-9b56-7573e7d7e594",
      "name": "FRAMEWORK",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1952,
        -368
      ],
      "id": "12788f96-96c2-43ee-bd85-d987aa597658",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=lEAD: {{ $('LEAD AQUI').item.json.lead }}\n\nNIVEL DE CONCIÊNCIA ATUAL DA LEAD: {{ $('NIVEL DE CONSCIENCIA').item.json.output.nivel_identificado }} - {{ $('NIVEL DE CONSCIENCIA').item.json.output.name }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=CRIADOR DE ANGULOS DE MARKETING E HEADLINES\n\n## OBJETIVO\nVocê é um especialista em copywriting direto. Sua função é dissecar qualquer lead, propor novos angulos de marketing e headlines utilizando a metodologia de Schwartz. \n\nEugene Schwartz estrutura uma headline com base no nível de consciência do público-alvo, utilizando técnicas específicas para criar ângulos que se conectem com o estado de consciência do prospect. Ele identifica o nível de consciência do mercado e ajusta a mensagem para maximizar o impacto. Abaixo, explico como ele aborda diferentes níveis de consciência e as técnicas que utiliza, com exemplos:\n\nEstrutura de uma Headline\nA headline é o ponto de entrada da mensagem e tem como objetivo principal capturar a atenção do prospect e levá-lo a ler o próximo parágrafo. Schwartz enfatiza que a headline não precisa vender diretamente o produto, mas sim parar o prospect e gerar interesse suficiente para continuar lendo. Ele utiliza três perguntas para determinar o conteúdo da headline:\n\nQual é o desejo massivo que cria o mercado? (Mass Desire)\n\nO desejo de massa é o motor que faz a publicidade funcionar. Schwartz afirma que a publicidade não cria desejos; ela apenas canaliza e direciona os desejos já existentes no público. Esses desejos são amplificados e explorados para conectar o público ao produto . Ele enfatiza que o sucesso de um anúncio depende de identificar e focar no desejo mais poderoso que pode ser aplicado ao produto . Identifique qual desejo universal ou necessidade do mercado a ser explorado.\n\nQuanto o público sabe sobre como o produto satisfaz esse desejo (Estado de Consciência)?\n\nQuantos outros produtos já foram apresentados ao público antes do seu (Estado de Sofisticação)?.\n\nÂngulos para Diferentes Níveis de Consciência\nSchwartz divide os níveis de consciência em cinco estágios e adapta a abordagem da headline para cada um deles:\n\n1. Público Mais Consciente\nO prospect já conhece o produto, sabe o que ele faz e quer comprá-lo. Nesse caso, a headline pode ser direta e focada em preço ou oferta especial. Exemplo:\n\n“Revere Zomar Lens, Electric Eye Camera—Formerly $149.50—Now Only $119.95.”.\n\n2. Público Consciente do Produto, Mas Não Convencido\nAqui, o prospect conhece o produto, mas não está convencido de sua eficácia ou superioridade. A headline deve reforçar o desejo ou apresentar provas de superioridade. Exemplo:\n\n“Steinway—The Instrument of the Immortals.”.\n\n3. Público Consciente do Desejo, Mas Não do Produto\nO prospect sabe que tem um desejo ou necessidade, mas não conhece o produto que pode satisfazê-lo. A headline deve nomear o desejo e apresentar o produto como solução. Exemplo:\n\n“Light a Lucky, and you’ll never miss sweets that make you fat.”.\n\n4. Público Consciente do Problema, Mas Não do Desejo\nO prospect reconhece um problema, mas não está ciente de que há uma solução ou de que o produto pode resolvê-lo. A headline deve dramatizar o problema e apresentar o produto como solução inevitável. Exemplo:\n\n“Shrinks hemorrhoids without surgery.”.\n\n5. Público Completamente Inconsciente\nO prospect não está ciente do desejo, do problema ou da solução. A headline deve criar identificação emocional e levar o prospect a reconhecer o problema ou desejo. Exemplo:\n\n“Why Men Crack…”.\n\nTécnicas Utilizadas na Criação de Ângulos e Headlines\nSchwartz utiliza várias técnicas para criar ângulos e headlines eficazes:\n\n1. Identificação do Desejo Massivo\nEle analisa os desejos mais urgentes, repetitivos e amplamente compartilhados pelo público e os conecta ao produto. Exemplo:\n\n“How to win friends and influence people.”.\n\n2. Gradualização\nA técnica de Gradualização envolve construir uma sequência de aceitação, começando com uma afirmação simples e crível, e gradualmente introduzindo promessas mais fortes. Exemplo:\n\n“Save up to $100 a Year on Your TV Repairs!” foi substituído por uma abordagem mais gradual para convencer o público de que eles poderiam fazer reparos sozinhos..\n\n3. Verbalização\nSchwartz reforça a mensagem da headline com imagens e palavras que ampliam o impacto emocional e tornam a promessa mais vívida. Exemplo:\n\n“Lose Weight” pode ser transformado em “I AM 61 POUNDS LIGHTER … NEVER A HUNGRY MINUTE.”.\n\n4. Exploração de Mecanismos\nQuando o mercado está saturado de promessas, ele foca no mecanismo do produto como diferencial. Exemplo:\n\n“Shrinks hemorrhoids without surgery.”.\n\n5. Intensificação\nEle utiliza imagens e linguagem emocional para intensificar o desejo do prospect ao longo do anúncio. Exemplo:\n\n“Pick 25—50—100 Roses from This One Magnificent Plant!”.\n\nResumo:\nEugene Schwartz adapta suas headlines ao nível de consciência do público, utilizando técnicas como identificação de desejos, gradualização, verbalização, exploração de mecanismos e intensificação. Ele entende que cada mercado exige uma abordagem única e que a headline deve ser construída com base no estado de consciência e sofisticação do prospect. Essa metodologia permite criar ângulos que capturam a atenção e levam o prospect a se engajar com o anúncio.\n\nSugira 5 Novos Ângulos diferentes para diferentes níveis de consciência que você acredite fazer sentido para esse mercado atualmente. Proponha uma headline para cada uma delas e justifique sua decisão baseado na metologia do Eugene Schwartz.\n\n**FORMATO DE SAÍDA**: JSON seguindo o schema fornecido, com 5 Novos Ângulos no objeto \"novos_angulos\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1920,
        -624
      ],
      "id": "9533382d-6a71-4541-88ea-17abb287c801",
      "name": "NOVOS ANGULOS",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3472,
        240
      ],
      "id": "a77a765c-96c7-4d87-b0be-2da05e307bf9",
      "name": "TESTAR SISTEMA"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BrWlgECpUlyWzdvF",
          "mode": "list",
          "cachedResultName": "Embeddings"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2928,
        240
      ],
      "id": "cae179e4-a57d-4cb4-bffa-7033b6aa3d89",
      "name": "Executar no servidor"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3712,
        -576
      ],
      "id": "3b99c02e-6028-48fd-a413-34510814bc51",
      "name": "Executar no servidor1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=lEAD: {{ $('LEAD AQUI').item.json.lead }}\n\nNIVEL DE CONCIÊNCIA ATUAL DA LEAD: {{ $('NIVEL DE CONSCIENCIA').item.json.output.nivel_identificado }} - {{ $('NIVEL DE CONSCIENCIA').item.json.output.name }}\n\nNOVOS ANGULOS PARA ESCOLHER E EXPLORAR: {{ $json.output.Novos_Angulos }}\n\nFRAMEWORK PARA UTILIZAR: {{ $('FRAMEWORK').item.json.output.dissecacao_framework }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ANÁLISE DE ESTRUTURA DE LEAD\n\n## OBJETIVO\nVocê é um especialista em copywriting direto e análise estrutural e correção de leads de vendas. Sua função é dissecar qualquer lead, identificar falhas e propor melhorias utilizando a metodologia de Schwartz. \n\nSegundo Eugene Schwartz, uma Lead (ou manchete) é o ponto inicial de um anúncio, projetado para capturar a atenção do prospecto e levá-lo a ler o primeiro parágrafo do texto. A Lead não precisa vender diretamente, identificar o produto ou mencionar a necessidade ou desejo que o produto satisfaz. Seu único objetivo é parar o prospecto e compelir sua atenção para continuar lendo o anúncio. Cada frase subsequente tem o mesmo propósito: levar o prospecto a ler a próxima frase, até que ele seja convencido a comprar o produto .\n\nAlém disso, Schwartz destaca que a Lead deve ser construída com base no estado de consciência do mercado-alvo, ou seja, no nível de conhecimento que o público tem sobre o produto e sua capacidade de satisfazer um desejo. A Lead deve ser adaptada para atender a esse estado de consciência, começando com o desejo do mercado e conduzindo-o ao produto. Eugene dizia que o maior erro em copy é falar com o nível errado.\n\nEugene Schwartz descreve diversos princípios fundamentais para a criação de anúncios eficazes e persuasivos. Esses princípios estão centrados na compreensão do público-alvo, na exploração de desejos existentes e na adaptação da mensagem ao estado de consciência do mercado. Abaixo estão os principais princípios descritos por Schwartz:\n\n1. Mass Desire (Desejo de Massa):\nO desejo de massa é o motor que faz a publicidade funcionar. Schwartz afirma que a publicidade não cria desejos; ela apenas canaliza e direciona os desejos já existentes no público. Esses desejos são amplificados e explorados para conectar o público ao produto . Ele enfatiza que o sucesso de um anúncio depende de identificar e focar no desejo mais poderoso que pode ser aplicado ao produto .\nIdentifique qual desejo universal ou necessidade a Lead está explorando.\nExplique como a Lead canaliza esse desejo para o produto ou solução apresentada.\n\n\n2. State of Awareness (Estado de Consciência):\nSchwartz classifica o público-alvo em cinco níveis de consciência, que vão desde o \"Mais Consciente\" (pronto para comprar) até o \"Totalmente Inconsciente\" (não sabe do problema, solução ou produto). A mensagem do anúncio deve ser adaptada ao nível de consciência do público .\n\n[Nível de consciência da LEAD]\nAvalie se a mensagem da Lead está alinhada com o estado de consciência do público.\n\n\n3. State of Sophistication (Estado de Sofisticação):\nO estado de sofisticação refere-se ao número de produtos ou soluções similares que já foram apresentados ao público. Quanto mais saturado o mercado, mais inovador o anúncio precisa ser para se destacar. Isso pode incluir a introdução de um novo mecanismo ou abordagem.\n\nAnalise o nível de saturação do mercado e como a Lead se diferencia de outras soluções já conhecidas.\nIdentifique se a Lead apresenta um novo mecanismo ou abordagem para renovar a credibilidade das promessas.\n\n\t\n4. Gradualization (Gradualização):\n\nGradualização é o processo de apresentar informações e promessas de forma progressiva, começando com afirmações que o público já acredita e conduzindo-o a aceitar ideias mais ousadas. Promessas exageradas ou abruptas podem gerar resistência. Gradualizar a mensagem ajuda a construir credibilidade e aceitação.\n\nAvalie se a Lead constrói a crença do público gradualmente usando estratégias que podem reduzir a resistência e aumento de aceitação do público.\n\n5. Redefinition (Redefinição):\n\nAvalie se a Lead redefine crenças ou percepções do público sobre o problema ou as soluções existentes.\nIdentifique como a Lead transforma objeções em oportunidades para destacar o produto.\n\n6. Mechanization (Mecanização):\nQuando o público está saturado de promessas repetitivas, é necessário introduzir um novo mecanismo que explique como o produto funciona de forma única e diferenciada. Esse mecanismo renova a credibilidade das promessas e atrai a atenção do público .\n\nAnalise como a Lead apresenta o mecanismo que explica como o produto funciona.\nDetermine se o mecanismo é claro, único e convincente.\n\n\n7. Intensificação do Desejo (Desire Intensification):\n\nSchwartz destaca que o papel do copywriter é intensificar os desejos do público, transformando emoções vagas em imagens concretas e vívidas de realização. Isso aumenta a força do desejo e reduz a importância de obstáculos como preço ou ceticismo .\nExamine como a Lead intensifica o desejo do público, utilizando imagens vívidas, benefícios concretos e promessas emocionais.\n\n\nSugira 5 pontos de melhorias na estrutura da Lead. É importante escolher o ângulo de marketing com a mensagem com o nível de conciência mais coerente com a atualidade do mercado.\n\nExplique como essas melhorias poderiam aumentar a eficácia da Lead. Mostre porque está errado, porque é um problema, como Eugene consertaria e reescreva o exemplo.\n\n**FORMATO DE SAÍDA**: JSON seguindo o schema fornecido, com 5 Pontos de Melhoria no objeto \"analise_schwartz\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1456,
        -624
      ],
      "id": "99425b0f-98ec-471c-8455-e729115cb8a1",
      "name": "MELHORIA SCHWARTZ",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2432,
        -352
      ],
      "id": "fca4e638-1642-4ce6-a4e5-4ffe4fa0c888",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"Novos_Angulos\": {\n      \"type\": \"array\",\n      \"minItems\": 5,\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nivel_consciencia\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"Público Mais Consciente\",\n              \"Público Consciente do Produto, Mas Não Convencido\",\n              \"Público Consciente do Desejo, Mas Não do Produto\", \n              \"Público Consciente do Problema, Mas Não do Desejo\",\n              \"Público Completamente Inconsciente\"\n            ],\n            \"description\": \"Nível de consciência do público-alvo para este ângulo\"\n          },\n          \"angulo\": {\n            \"type\": \"string\",\n            \"description\": \"Descrição do ângulo de marketing proposto\"\n          },\n          \"headline\": {\n            \"type\": \"string\",\n            \"description\": \"Headline criada para capturar a atenção deste nível de consciência\"\n          },\n          \"justificativa_schwartz\": {\n            \"type\": \"string\",\n            \"description\": \"Justificativa detalhada baseada na metodologia de Eugene Schwartz\"\n          }\n        },\n        \"required\": [\"nivel_consciencia\", \"angulo\", \"headline\", \"justificativa_schwartz\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"novos_angulos\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1776,
        -416
      ],
      "id": "9145ec62-8bbb-4039-ae9d-8be1b6e872b8",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1728,
        -288
      ],
      "id": "7f281c13-6647-472d-a451-31e608d5a940",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"title\": \"Análise Schwartz de Copywriting\",\n  \"description\": \"Schema para análise e correção de copy baseada na metodologia de Eugene Schwartz com 5 pontos de melhoria\",\n  \"properties\": {\n    \"Analise_Schwartz\": {\n      \"type\": \"array\",\n      \"description\": \"Array com exatamente 5 análises de melhoria baseadas na metodologia de Eugene Schwartz\",\n      \"minItems\": 5,\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"erro\": {\n            \"type\": \"string\",\n            \"description\": \"Identificação de um erro ou falha específica na copy segundo os princípios de Schwartz\"\n          },\n          \"motivo\": {\n            \"type\": \"string\",\n            \"description\": \"Explicação detalhada do porquê esse erro compromete a eficácia da copy\"\n          },\n          \"ajuste_metodologia_schwartz\": {\n            \"type\": \"string\",\n            \"description\": \"Metodologia específica de Schwartz que deve ser aplicada para corrigir o erro identificado\"\n          },\n          \"exemplo_reescrito\": {\n            \"type\": \"string\",\n            \"description\": \"Versão corrigida do trecho problemático aplicando a metodologia de Schwartz sugerida\"\n          }\n        },\n        \"required\": [\"erro\", \"motivo\", \"ajuste_metodologia_schwartz\", \"exemplo_reescrito\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"analise_schwartz\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1232,
        -416
      ],
      "id": "7e440467-c928-4053-a22c-71e6c04bab8b",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1216,
        -288
      ],
      "id": "7a0e685f-ac7f-4763-9bc0-f4ff36c725a9",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "Lf8n8hIiNqWOGkt5",
          "name": "Velseg Vitascience"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "682b9106-d5c1-412e-97b3-21f2ac1de5e2",
              "name": "nivel_consciencia",
              "value": "={{ $('NIVEL DE CONSCIENCIA').item.json.output }}",
              "type": "object"
            },
            {
              "id": "5db103e0-c580-4aef-a3ea-4320e0548106",
              "name": "dissecacao_framework",
              "value": "={{ $('FRAMEWORK').item.json.output }}",
              "type": "object"
            },
            {
              "id": "00d41cc1-ec97-4b4d-a246-d291beae40bc",
              "name": "novos_angulos",
              "value": "={{ $('NOVOS ANGULOS').item.json.output }}",
              "type": "object"
            },
            {
              "id": "c0ec6e14-2a03-47c3-9d21-a0dc03878768",
              "name": "melhorias_schwartz",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        -640
      ],
      "id": "14ca8af9-ce86-4f49-8883-7241e8779016",
      "name": "OUTPUT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fd607c4-6a89-4cfb-b803-376519fdfb1f",
              "name": "lead",
              "value": "Na noite do ano de 1785, Antoine Lavoisier, um químico brilhante e famoso, descobriu o caminho para emagrecer sem sacrifícios.  Essa descoberta, que ficou escondida até hoje, é a chave para toda mulher perder a gordura da barriga, culote e papada… dizendo ADEUS ao efeito sanfona.  Independente se já passou dos 40 anos ou se precisa eliminar 5, 10 ou mais quilos.  Por trás dessa descoberta, está a verdadeira razão:  1 — Da atividade física não emagrecer por si só.  Results indicate that moderate aerobic exercise training during a 12-week period has no discernible effects on body composition but does improve cardiorespiratory fitness in dieting obese women.    Fonte: https://pubmed.ncbi.nlm.nih.gov/9738131/   2 — O porquê a maioria das pessoas que fazem bariátrica engordam tudo de novo  Reganho de peso e glicemia alta são efeitos comuns após tratamento com semaglutida  Estudo publicado pela farmacêutica Novo Nordisk indica que pacientes engordam cerca de dois terços dos quilos perdidos    3 — E por que tomar remédios pra emagrecer acaba em efeito sanfona e aumentam o risco de desenvolver diabete  Cirurgia bariátrica: 92% das pessoas voltam a engordar depois da operação, mostra novo estudo da USP; entenda    Fonte:https://www1.folha.uol.com.br/equilibrio/2023/02/reganho-de-peso-e-glicemia-alta-sao-efeitos-comuns-apos-tratamento-com-semaglutida.shtml   Lavoisier descobriu que, pra perder peso, não adianta fazer horas de atividade física…  Se submeter a dietas altamente restritivas, cortando carboidratos, gorduras e açúcar da sua alimentação…  Colocar a sua vida em risco entrando na faca pra fazer cirurgias e procedimentos estéticos caros e perigosos, como, por exemplo, a bariátrica e a lipoaspiração…  Ou prejudicar a sua saúde tomando pílulas com propaganda milagrosa para emagrecer.  Na verdade, o que ele descobriu é que existe um processo no seu corpo capaz de transformar a sua gordura em gás.   É isso mesmo.   Você pode simplesmente fazer sua gordura evaporar e perder 5, 10 ou mais quilos.  E o melhor de tudo: você pode fazer isso simplesmente ao tomar esse poderoso suco que fica pronto em 15 segundinhos.  [Dayan mostra o suco em sua mão, ou um B-roll mostra o Dayan preparando o suco]. Já imaginou isso?   Você podendo:   Ao se olhar no espelho, gostar de verdade do seu corpo…  Se sentir mais bonita e feliz por ser magra…  Colocar qualquer roupa sem nem passar pela sua cabeça preocupações como: será que meu braço está muito gordo ou minha barriga está marcando muito?  E o melhor: poder vestir as roupas que mais gosta, mas que estavam guardadas em um cantinho do guarda-roupa.  Então, se prepare para o que eu vou te falar nos próximos minutos: é muito rápido fazer a gordura do seu corpo virar gás e emagrecer sem sofrimento…  Não importa:  Quantos quilos você precisa eliminar… Qual a sua idade… Onde você mora… seja no interior ou na capital… Se acredita que sua genética é ruim… Ou que depois dos 40 anos o metabolismo fica lento.  A partir de agora, emagrecer será apenas uma questão de DIAS quando você descobrir:  Como transformar a gordura em gás tomando um suco que fica pronto em apenas 15 segundos.  E o melhor:   Ainda neste vídeo vou te mostrar como você pode fazer este suco já nos próximos dias… aí mesmo da sua casa.  Com esse hábito, você pode eliminar 2, 5 ou até mais quilos no primeiro mês, sem precisar necessariamente fazer exercícios físicos para isso.  Mas o mais importante é que você vai abandonar pensamentos como:  “dietas não funcionam pra mim”; “meu corpo mudou, eu nunca vou conseguir emagrecer sem passar fome todo dia”.  Porque quando você começar a ver sua barriga diminuir com o que vai aprender aqui hoje, vai ficar muito fácil manter o seu peso ideal pelo tempo que você quiser.  E assim, finalmente conseguir se LIBERTAR do ciclo de tentativas frustradas de perder peso.  Então, preste atenção em tudo o que você vai descobrir agora nesta apresentação.  Bom, se você ainda não me conhece, meu nome é Dayan Siebra, tenho o maior canal de saúde na língua portuguesa, com quase 7 milhões de inscritos.  E já ajudei mais de 30 mil pessoas a emagrecerem de forma saudável e definitiva.  Pra ser 100% sincero, eu preciso me abrir aqui com você…  Apesar de atuar na área da saúde há mais de 25 anos, durante muito tempo eu só me preocupei em trabalhar e fazer dinheiro.  Afinal, se está fazendo dinheiro, está tudo certo, né?  Aos 35 anos eu era obeso, vivia estressado, dormia pouco, trabalhava muito e descontava todas as minhas frustrações na comida.  Eu comia pra não ir pra casa.   Pra não perder a performance.   Ter uma barriga enorme era ok, porque eu estava fazendo dinheiro.  Pra alguém reconhecido, famoso e bem-sucedido na área da saúde, então… estar acima do peso não importava.  Como eu comia de forma descontrolada, meu corpo começou a dar sinais.  Primeiro, eu comecei a engordar muito rápido porque meu metabolismo ficou lento.  Começou apenas com o bucho aumentando…  … depois o rosto ficando mais inchado…  E em seguida, meus hormônios começaram a descontrolar…  … já eram os sinais de pedido de socorro do corpo por estar acima do peso.  Estava sofrendo com crises de ansiedade, insônia, estresse e dores em todo o corpo com frequência.  Durante esse tempo, eu até tentei algumas coisas para emagrecer, mas com o conhecimento que eu tinha na época, a única coisa que eu sabia fazer era fechar a boca e me exercitar mais…  … mas nunca consegui emagrecer e me manter magro, o que me levou a frustração e mais estresse ainda, por adicionar algo na minha rotina que não funcionava.  Eu me questionava: “o que tem de errado comigo?!”   “EU SOU MÉDICO! EU DEVERIA CONSEGUIR FAZER ISSO!”  Mas continuei sem conseguir, até chegar a hipertensão, o pré-diabetes…  … e cada um desses problemas me levou ao episódio mais trágico da minha vida.  Neste dia, eu estava dirigindo, indo pra casa voltando do trabalho e de repente…  Meu coração disparou como um cavalo de corrida, meu peito começou a doer como se tivesse uma espada cortando meu coração.  Eu comecei a tremer muito e a minha visão ficou turva, eu não conseguia enxergar mais nada… na mente não passava um pensamento.  Pensei que estivesse tendo um infarto.  Mas, na verdade, eu tive um ataque de pânico enquanto dirigia e a consequência foi encarar a morte de frente…   Aconteceu tudo muito rápido e eu acabei batendo o carro.  Minha sorte é que pior não aconteceu comigo.  Mas naquele momento, minha vida inteira passou diante dos meus olhos.  Depois de ter passado pela UTI, quando acordei no hospital, entendi que aquele episódio foi uma segunda chance que eu recebi. Eu finalmente percebi que não poderia continuar daquele jeito e precisava fazer de tudo pra mudar.  Eu entendi que o meu problema com excesso de peso não era só o espelho — era o risco de perder a minha vida e deixar minha esposa, meus filhos e todas as pessoas que amo.   FIM DA LEAD",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        -576
      ],
      "id": "1e54af35-d037-4ff2-92cd-9871db27b75d",
      "name": "LEAD AQUI"
    },
    {
      "parameters": {
        "content": "## EXECUTE AQUI PARA TESTAR. \n\nVocê conseguirá ver a resposta em Executions assim que finalizar.\n\n",
        "height": 400,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3536,
        64
      ],
      "id": "f7cbb3fd-2728-4011-ab8c-6dd567a6df24",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 1º PASSO - INSIRA SUA LEAD AQUI",
        "height": 256,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3520,
        -656
      ],
      "id": "17a1b2eb-a8ba-42ff-94de-9864ef8419fd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 2º PASSO - INSIRA SUAS CREDENCIAS DA OPENAI \n(validado com o modelo GPT5 e GPT5 mini)",
        "height": 256,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3232,
        -288
      ],
      "id": "e04b5e83-7caa-40c3-9ebc-7181332e5ca1",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "NIVEL DE CONSCIENCIA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "NIVEL DE CONSCIENCIA",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "MELHORIA SCHWARTZ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "FRAMEWORK",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NIVEL DE CONSCIENCIA": {
      "main": [
        [
          {
            "node": "FRAMEWORK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FRAMEWORK": {
      "main": [
        [
          {
            "node": "NOVOS ANGULOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "NOVOS ANGULOS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NOVOS ANGULOS": {
      "main": [
        [
          {
            "node": "MELHORIA SCHWARTZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TESTAR SISTEMA": {
      "main": [
        [
          {
            "node": "Executar no servidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar no servidor1": {
      "main": [
        [
          {
            "node": "LEAD AQUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MELHORIA SCHWARTZ": {
      "main": [
        [
          {
            "node": "OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "FRAMEWORK",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "NOVOS ANGULOS",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "MELHORIA SCHWARTZ",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LEAD AQUI": {
      "main": [
        [
          {
            "node": "NIVEL DE CONSCIENCIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4833e5c-b7e0-4271-8c03-f555473d3abe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3effb91945ecc5e5423bcf8d18a97ad2b6f774d40b77b18cbba762f488954dc8"
  },
  "id": "BrWlgECpUlyWzdvF",
  "tags": []
}